<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909765856308-eg63rilr237e75e4nb1ghtdh7reef03d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909765856308-eg63rilr237e75e4nb1ghtdh7reef03d</string>
	<key>API_KEY</key>
	<string>AIzaSyANVfz8eom45wtm6dDpVq9ZW-CQ-X_GaPU</string>
	<key>GCM_SENDER_ID</key>
	<string>909765856308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.versee.VERSEE</string>
	<key>PROJECT_ID</key>
	<string>verseescan-1679483127990</string>
	<key>STORAGE_BUCKET</key>
	<string>verseescan-1679483127990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909765856308:ios:6160c65f5450769e584e61</string>
</dict>
</plist>